[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

click = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-alembic = "*"
"psycopg2" = "*"
"fabric3" = "*"
pyjwt = "*"
gunicorn = "*"


[requires]
