[Unit]
Description=web service for memory
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/code/morio
ExecStart=/usr/local/bin/pipenv run gunicorn -c /code/morio/conf/gunicorn_conf.py wsgi:app

[Install]
WantedBy=multi-user.target
